body {
    margin: 0px;
    background: #aaa;
}

.div-panel {
    display: flex;
    height: 35px;
    align-items: center;
}

.item-panel {
    margin: 5px;
}

.div-game {
    width: 320px;
    height: 530px;
    background: black;
}

.div-ball {
    position: absolute;
    top: 259px;
    left: 157px;
    width: 12px;
    height: 12px;
    background: #888;
}

.bar {
    position: absolute;
    width: 12px;
    height: 160px;
    background: #888;
    top: 185px;
}

.left {
    left: 6px;
}

.right {
    left: 302px;
}