body {
    margin: 0px;
    background: #aaa;
}

.div-panel {
    display: flex;
    height: 40px;
    align-items: center;
}

.item-panel {
    margin: 5px;
}

.div-game {
    width: 551.25px;
    height: 277.5px;
    background: black;
}

.div-ball {
    position: absolute;
    top: 175px;
    left: 362.5px;
    width: 20px;
    height: 20px;
    background: #888;
}

.bar {
    position: absolute;
    width: 20px;
    height: 112px;
    background: #888;
    top: 180px;
}

.left {
    left: 10px;
}

.right {
    left: 705px;
}