body {
    margin: 0px;
    background: #aaa;
}

.div-panel {
    display: flex;
    height: 30px;
    align-items: center;
}

.item-panel {
    margin: 5px;
}

.div-game {
    width: 1920px;
    height: 930px;
    background: black;
}

.div-ball {
    position: absolute;
    top: 455px;
    left: 955px;
    width: 20px;
    height: 20px;
    background: #888;
}

.bar {
    position: absolute;
    width: 20px;
    height: 300px;
    background: #888;
    top: 315px;
}

.left {
    left: 10px;
}

.right {
    left: 1890px;
}